@import "base/variables";
@import "base/mixins";
@import "base/media";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/slider";
@import "blocks/catalog";

* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 950px;
    min-width: 576px;
    margin: 0 auto;
    position: relative;
}